/* disable css validation for workspace */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Lato:wght@400;500&display=swap");

:root {
  --font-family-primary: "Lato", sans-serif;
  --font-family-secondary: "Ubuntu", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  top: 0 !important;

  margin: 0px;
  padding: 0px;
  margin: 0;
}

body * {
  box-sizing: border-box;
  font-family: var(--font-family-primary);
  color: #0a2237;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

body *:focus {
  outline-color: #fafafa;
}

body a,
body button {
  transition: 0.2s color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: 107.6%;
  letter-spacing: -0.03em;
}

input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
select,
textarea {
  font-size: 1.4rem;
  appearance: none;
  -webkit-appearance: none;
}

/* CUSTOM COMPONENTS  */

.max-1440 {
  max-width: 1440px;
  margin: 0 auto;
}
