.btn {
  @apply font-base py-6 px-12 bg-white;
}

.btn--small {
  border: 1px solid var(--color-black);
  width: 150px;
  font-size: 12px;
  padding: 7px;
}
.btn--medium {
  border: 1px solid var(--color-black);
  width: 190px;
  font-size: 14px;
  padding: 7px 20px;
}
.btn--large {
  border: 1px solid var(--color-black);
  width: 220px;
  padding: 10px 7px;
  font-size: 14px;
}
